:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

/*
@media only screen and (min-width:1300px){
  .container .jumbotron{
    width:1300px;
  }
  .album{
    width:1300px;
  }
}
*/
.container-fluid{
  max-width: 1400px;
}
.jumbotron-fluid{
  padding-bottom:20px;
}
body{
  background-color: #222222;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
body { padding-top: 60px; }

a:link{
  color:white;
  text-decoration:none;
}
a:visited{
  color:white;
  text-decoration:none;
}
a:hover{
  color:rgb(185, 185, 185);
  text-decoration:none;
}


/*@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}*/